<md-card>
    <md-card-header>
        <md-card-title>
            <h4>profile</h4>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item>Name: {{profile.name}}</md-list-item>
            <md-list-item>Email: {{profile.Email}}</md-list-item>
            <md-list-item>Description: {{profile.description}}</md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>
            <h4>Posts</h4>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <md-list>
            <messages></messages>
        </md-list>
    </md-card-content>
</md-card>